In [ ]:
mark=int(input())
if mark > 50 :
  print("you are passed")
if mark <50  :
  print("you are faied")

51
you are passed

In [ ]:
mark=int(input())
if mark > 50 :
  print("you are passed")
if mark <50  :
  print("you are faied") 
if mark == 50  :
  print("just passed")

50
just passed

In [ ]:
salary=int(input())
if salary > 250000 :
  print("taxable")
if salary < 250000 :
  print("not taxable")
if salary == 250000 :
  print("taxable")

250000
taxable

In [ ]:
salary=int(input())
if salary > 250000 :
  print("taxable")
  s=salary*10/100
  print(s)
if salary < 250000 :
  print("not taxable")
if salary == 250000 :
  print("taxable")

300000
taxable
30000.0

In [ ]:
salary=int(input())
if salary > 250000 :
  print("taxable")
  print((salary - 250000)*10/100)
if salary < 250000 :
  print("not taxable")
if salary == 250000 :
  print("taxable")

300000
taxable
5000.0

In [ ]:
salary=int(input())
if salary < 250000 :
  print("not taxable")
if salary > 250000 and salary < 500000 :
  print("taxable")
  print(salary*10/100)
if salary > 500000 :
  print("taxable")
  print(salary*20/100)

600000
taxable
120000.0

In [ ]:
salary=int(input())
if salary < 250000 :
  print("not taxable")
if salary > 250000 and salary < 500000 :
  print("taxable")
  print((salary-250000)*10/100)
if salary > 500000 :
  print("taxable")
  print((salary-500000)*20/100)

750000
taxable
50000.0

In [ ]:
salary=int(input())
if salary < 250000 :
  print("not taxable")
if salary > 250000 and salary < 500000 :
  print("taxable")
  print((salary-250000)*10/100)
if salary > 500000 :
  print("taxable")
  print((salary-500000)*20/100)+((salary-250000)*10/100)

750000
taxable
50000.0

TypeError: ignored