In [1]:
x=int(input("enter number"))
if x<0:
  print(-x)
else:
  print(x)

enter number-5
5

In [5]:
num=int(input())
if(num>0):
  print("absolte value of ",num,"is" ,num)
else:
  num=num*(-1)
  print("absolute value of ", -num, "is",num)

-10
absolute value of  -10 is 10

In [9]:
x=int(input("enter marks "))
if x<25:
  print("F")
if x>=25 and x<45:
  print("E")
if x>=45 and x<50:
  print("D")
if x>=50 and x<60:
  print("C")
if x>=60 and x<80:
  print("B")
if x>80:
  print("A")

enter marks 55
C

In [13]:
x=int(input("no of classes held "))
y=int(input("no of classes attended "))
z=y/x*100
print("attendance percetage ",z)
if z<75:
  print("student is not allowed to write exam")
else:
  print("student is allowed to write exam")

no of classes held 25
no of classes attended 20
attendance percetage  80.0
student is allowed to write exam

In [24]:
print("1,addition")
print("2,subtraction")
print("3,multiplication")
print("4,division")
print("5,modulus")
print("6,floor division")
print("7,exponent")
x=int(input("select a number "))
m1=int(input("enter a number "))
m2=int(input("enter a number "))
if x==1:
  print(m1+m2)
if x==2:
  print(m1-m2)
if x==3:
  print(m1*m2)
if x==4:
  print(m1/m2)
if x==5:
  print(m1%m2)
if x==6:
  print(m1//m2)
if x==7:
  print(m1**m2)

1,addition
2,subtraction
3,multiplication
4,division
5,modulus
6,floor division
7,exponent
select a number 6
enter a number 10
enter a number 3
3

In [35]:
import statistics
sub1=float(input("enter sub1 mark "))
sub2=int(input("enter sub2 mark "))
sub3=int(input("enter sub3 mark "))
sub4=int(input("enter sub4 mark "))
sub5=int(input("enter sub5 mark "))
print("least mark is ",min(sub1,sub2,sub3,sub4,sub5))
print("max mark is ",max(sub1,sub2,sub3,sub4,sub5))
print("avg mark is ",statistics.mean([sub1,sub2,sub3,sub4,sub5]))
print("round off ",round(statistics.mean([sub1,sub2,sub3,sub4,sub5]),3))

enter sub1 mark 95.367
enter sub2 mark 99
enter sub3 mark 97
enter sub4 mark 93
enter sub5 mark 96
least mark is  93
max mark is  99
avg mark is  96.0734
round off  96.073