In [3]:
num=int(input("enter the number "))
for i in range(1,11):
  print(i,"*",num,"=",i*num)

enter the number 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [5]:
num=int(input("enter number: "))
i=1
while(i<=10):
  print(i*num)
  i=i+1

enter number: 5
5
10
15
20
25
30
35
40
45
50

In [7]:
num=input("enter number: ")
k=0
for i in num:
  k=k+1
print(k)

enter number: 15
2

In [10]:
string=input(("enter string "))
reversestring= ""
for i in string:
  reversestring = i + reversestring
print("reverse string: ",reversestring)
if(string == reversestring):
  print("the string is palindrome")
else:
  print("the string is not palindrome")

enter string malayalam
reverse string:  malayalam
the string is palindrome

In [13]:
name=input(("enter name: "))
name=name.replace("a","k")
print(name)

enter name: akash
kkksh

In [15]:
name=input(("enter name "))
if name.isupper():
  print("UPPER CASE")
  print(name.lower())
if name.islower():
  print("lower case")
  print(name.upper())

enter name jeffrey
lower case
JEFFREY