In [3]:
travel_source=input("enter the travel source")
destination=input("enter the destination")
no_of_passengers=int(input("enter no of passengers"))
print("travel source =",travel_source)
print("destination =",destination)
print("no of passengers =",no_of_passengers)

enter the travel sourcebus
enter the destinationkollam
enter no of passengers5
travel source = bus
destination = kollam
no of passengers = 5

In [7]:
total_ticket_fare=int(input("enter the total ticket fare="))
no_of_passengers=int(input("enter no of passengers="))
x=total_ticket_fare/no_of_passengers
print("ticket fare per person=",x)

enter the total ticket fare=7000
enter no of passengers=70
ticket fare per person= 100.0

In [11]:
name=input("enter your name=")
ticket_fare=input("enter ticket fare=")
print(name,ticket_fare)

enter your name=jeffrey
enter ticket fare=100
jeffrey 100

In [12]:
total_ticket_fare=int(input("enter total ticket fare"))
if total_ticket_fare>10000:
  print("eligible for discount")

enter total ticket fare15000
eligible for discount

In [18]:
total_ticket_fare=int(input("enter total ticket fare="))
if total_ticket_fare>15000:
  print("eligible for 20% discount")
else :
  print("eligible for 10% discount")

enter total ticket fare=21000
eligible for 20% discount

In [22]:
total_ticket_fare=int(input("enter total ticket fare="))
if total_ticket_fare>15000:
  x=total_ticket_fare*20/100
  print("eligible for 20% discount",x)
if total_ticket_fare>10000 and total_ticket_fare<15000:
  y=total_ticket_fare*10/100
  print("eligible for 10% discount",y)
if total_ticket_fare<10000:
  z=total_ticket_fare*5/100
  print("eligible for 5% discount",z)

enter total ticket fare=17000
eligible for 20% discount 3400.0

In [26]:
n1=int(input("enter number="))
if n1>0:
  print("given number is positive")
if n1==0:
  print("given number is zero")
if n1<0:
  print("given number is negative")

enter number=10
given number is positive

In [31]:
age=int(input("enter age"))
if age>18:
  print("adult")
elif age>13 and age<18:
  print("teenager")
elif age>6 and age<13:
  print("kid")
elif age>2 and age<6:
  print("toddler")
elif age<2:
  print("infant")

enter age20
adult

In [34]:
initial=input("enter initials=")
if initial in("a,e,i,o,u"):
  print("vowel")
else:
  print("no vowel")

enter initials=m
no vowel

In [35]:
name=input("enter your name=")
for i in name:
  print(i)

enter your name=jeffrey
j
e
f
f
r
e
y

In [36]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [38]:
x=0
for i in range(1,11):
  x=x+i
  print(i,x)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [46]:
n=0
for i in range(1,5):
  print(i)

1
2
3
4

In [55]:
n=4
for i in range(5):
  for j in range(i):
    print(i, end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4