In [7]:
name=input("enter your name:")
phno=int(input("enter ph no:"))
print(name)
print(phno)

enter your name:jeffrey
enter ph no:7034040327
jeffrey
7034040327

In [16]:
m1=int(input("enter mark="))
m2=int(input("enter mark="))
m3=int(input("enter mark="))
total = m1 + m2 + m3
print("total marks=",total)

enter mark=20
enter mark=20
enter mark=20
total marks= 60

In [17]:
m1=int(input("enter mark="))
m2=int(input("enter mark="))
m3=int(input("enter mark="))
total = m1 + m2 + m3
avg = total/3 
print("total marks=",total)
print("avg marks=",avg)

enter mark=20
enter mark=20
enter mark=20
total marks= 60
avg marks= 20.0

In [25]:
m1=int(input("enter number="))
m2=int(input("enter number="))
m3=int(input("enter number="))
if m1>m2 and m1>m3:
  print("larger number is",m1)
if m2>m1 and m2>m3:
  print("larger number is",m2)
if m3>m1 and m3>m2:
  print("larger number is",m3)

enter number=10
enter number=30
enter number=20
larger number is 30

In [36]:
n1=int(input("enter number="))
if n1%2 !=0:
  print("odd")
else:
  print("even")

enter number=7
odd

In [39]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
for i in range(1,11):
 if i%2 ==0:
  print(i)

2
4
6
8
10

In [43]:
for i in range(1,11):
  print(i,"*5=",i*5)

1 *5= 5
2 *5= 10
3 *5= 15
4 *5= 20
5 *5= 25
6 *5= 30
7 *5= 35
8 *5= 40
9 *5= 45
10 *5= 50